<html>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<body style="margin:0;padding:0;border:0;background-color:#f6f6f6">
		
		<div style="background:url('theme/image/bgLoginBox.png') no-repeat;margin:auto;margin-top:10%;padding:90px 0 0 55px;width:650px;height:415px">
			<div style="background-color:#f6f6f6;padding:5px;width:550px;font-size:30px;font-weight:bold;text-transform:capitalize;color:#fd6800">
				google chrome frame install
			</div>		
			<p style="margin-top:0;padding:10px;border-top:solid 2px #efefef;width:550px;font-size:13px;line-height:1.5;">
				<%=raw t('cfinstall_ment')%>
			<a href="cfdownload" style="padding-left:10px;font-size:14px;font-weight:bold"> <%=raw t('cfinstall_link')%></a>
		</div>
	</body>
</html>